/python_problem_solving/venv/
*.xml
*.iml
JavaProblemSolving/.idea/sonarlint/issuestore/f/b/fb1ff75aa1ba1863bbaa1423a8f463fa183a9b3d
*.pb
JavaProblemSolving/.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
JavaProblemSolving/.idea/sonarlint/issuestore/8/d/8d4eb5d8032b0aa825be7e5ed5db5efec63c374d
JavaProblemSolving/.idea/sonarlint/issuestore/9/8/98bc4bdc12246f3ef477adf719ae56b5c40a8da2
*.xml
